*{
    border-radius: 25px;
  }
  .bottom-container{
    background :transparent;
    padding: 50px 0 20px;
    text-align: center;
    margin-top:80px;
  }
  .copy-right{
    color:bisque;
    font-size: 2rem;
    padding: 20px 0;
  }
  .footer-link{
      padding: 15px;
      font-size: 3rem;
      color:var(--yellow-theme-main-color);
  }
  .copy_right{
    color:var(--yellow-theme-main-color) ;
  }
  a:hover{
    color:aliceblue;
  

  }